<h1 class="text-center">Liste des produits</h1>

<!-- L'implémentation du filtrage n'est pas correcte dans le ts -->
<input type="text" class="p-2 border rounded w-80 mb-4 block mx-auto" [(ngModel)]="term" placeholder="Rechercher un produit...">
<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()" [paginator]="true" [rows]="10">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2">{{ product.name }}
                    @if (getQuantityInCart(product) > 0) {
                        <span class="text-gray-600 font-semibold">
                            ({{ getQuantityInCart(product) }} dans le panier)
                        </span>
                    }
                </div>
                <div class="text-sm text-gray-600 mt-1">{{ product.description }}</div>
                <div class="mt-2">
                    <span class="text-green-600 font-semibold">Prix: {{ product.price | currency:'EUR' }}</span>
                    <span class="ml-4 text-blue-600 font-semibold">{{ product.inventoryStatus }}</span>
                </div>

                <div class="mt-2">
                    <span class="text-yellow-600 font-semibold">Note : {{ product.rating }}/5</span>
                </div>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3">
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" [disabled]="isInCart(product)"/>
                        <p-button label="Ajouter au panier" severity="success" (onClick)="addToCart(product)" />
                        <p-button label="Supprimer du panier" severity="warning" (onClick)="removeFromCart(product)" [disabled]="!isInCart(product)"/>
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>